                .navbar {
                    padding-top: 15px;
                    margin: 0px
                }
                
                .container-fluid {
                    color: black;
                }
                
                .nav-link {
                    color: black;
                    font-size: 15px;
                    text-align: center;
                }
                
                .navbar-brand {
                    font-weight: bold;
                }
                
                .navbar-navs a {
                    padding: left 3px;
                    display: inline-flex;
                }
                
                #sea {
                    border-radius: 25px;
                    width: 600px;
                    height: 40px;
                }
                
                #cat {
                    background: black;
                    text-align: left;
                    padding: 30px;
                    margin-left: 10px;
                }
                
                .para {
                    text-align: left;
                    color: white;
                    width: 760px;
                    padding: 10px;
                    font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
                    margin-left: 1px;
                    margin-top: 1px;
                }
                
                .taruk {
                    margin-bottom: 60px;
                    padding: 5px;
                }
                
                .col {
                    background-color: black;
                }
                
                .card {
                    position: absolute !important;
                    top: 120px !important;
                    right: 100px !important;
                    width: 340px !important;
                    border-radius: 0 !important;
                    overflow: visible;
                    color: black !important;
                    border: 1px solid black !important;
                }
                
                .head {
                    border: 1px solid black;
                    margin-right: 40%;
                    margin-left: 30px;
                }
                
                .jess {
                    margin-top: 20px;
                    margin-left: 30px;
                }
                
                .py-5 {
                    margin-top: 50px;
                    margin-left: 0px;
                    margin-right: 0px;
                    color: whitesmoke;
                    background-color: black;
                }
                
                body {
                    overflow-x: hidden;
                }
                
                .fname {
                    color: whitesmoke;
                    margin-left: 50px;
                }
                
                .navbar-brand {
                    font-size: 25px;
                }
                
                .siv {
                    background-color: gray;
                }
                
                #prom {
                    text-align: center;
                }
                
                #time {
                    text-align: center;
                }
                
                button {
                    background-color: purple!important;
                    border: none;
                    color: white;
                    padding: 15px 90px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    text-align: center;
                }
                
                .image {
                    background-image: url('https://img.icons8.com/ios-filled/75/000000/circled-play.png');
                    background-repeat: no-repeat;
                    align-items: center;
                }
                
                .py-5 {
                    margin-top: 50px;
                    margin-left: 0px;
                    margin-right: 0px;
                    color: whitesmoke;
                    background-color: black;
                }
                
                .copz {
                    padding-left: 30px;
                    padding-top: 30px;
                }
                
                .toq {
                    padding-top: 20px;
                    padding-left: 80%;
                    font-size: small;
                }
                
                @media all and (min-width: 992px) {
                    .dropdown-menu li {
                        position: relative;
                    }
                    .nav-item .submenu {
                        display: none;
                        position: absolute;
                        left: 100%;
                        top: -7px;
                    }
                    .nav-item .submenu-left {
                        right: 100%;
                        left: auto;
                    }
                    .dropdown-menu>li:hover {
                        background-color: #f1f1f1
                    }
                    .dropdown-menu>li:hover>.submenu {
                        display: block;
                    }
                }
                /* ============ desktop view .end// ============ */
                /* ============ small devices ============ */
                
                @media (max-width: 991px) {
                    .dropdown-menu .dropdown-menu {
                        margin-left: 0.7rem;
                        margin-right: 0.7rem;
                        margin-bottom: .5rem;
                    }
                }
                
                .card-bodies {
                    position: relative;
                }
                
                .wat {
                    position: absolute;
                    top: 70px;
                    left: 130px;
                    color: white;
                    cursor: pointer;
                }